<h1 mat-dialog-title>Nova Aula</h1>
<div mat-dialog-content>
  <form class="example-form" [formGroup]="aulaForm">
    <mat-form-field class="example-full-width">
      <mat-label>Nº da Sala</mat-label>
      <input matInput formControlName="sala" name="sala">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Professor</mat-label>
      <input matInput formControlName="nome" name="nome">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Aula</mat-label>
      <input matInput formControlName="aula" name="aula">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Data</mat-label>
      <input matInput formControlName="data" name="data">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Inicio da Aula</mat-label>
      <input matInput formControlName="inicioAula" name="inicioAula">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Fim da Aula</mat-label>
      <input matInput formControlName="fimAula" name="fimAula">
    </mat-form-field>

    <div fxLayout="row wrap">
      <div fxFlex="40" fxFill fxLayoutAlign="start center">
        <mat-form-field class="example-full-width">
          <mat-label>Data da Live</mat-label>
          <!-- <input matInput [matDatepicker]="picker" formControlName="liveDate" name="liveDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker> -->
        </mat-form-field>
      </div>
      <div fxFlex></div>
      <div fxFlex="40" fxFill fxLayoutAlign="start center">
        <mat-form-field class="example-full-width">
          <mat-label>Horário da Live</mat-label>
          <input matInput type="time" formControlName="liveTime" name="liveTime" #time>
        </mat-form-field>
      </div>
    </div>

  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" >Adicionar</button>
  <button mat-button (click)="cancel()">Cancelar</button>
</div>
